@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .h-screen-minus-112px {
    height: calc(100vh - 112px);
  }
}

// body {
//   overflow-x: hidden;
// }



/* Удалить стрелки в input в type="number" */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

// NProgress Styles.
@import "01-libraries/nprogress";

.skeleton {
  background-color: #e5e5e5;
  animation: pulse 1s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.gradient-text {
  background: linear-gradient(
      212.74deg,
      rgba(0, 0, 0, 0.1) 32.61%,
      rgba(0, 0, 0, 0) 80.43%
    ),
    linear-gradient(98.79deg, #b721ff 15.5%, rgba(33, 212, 253, 0) 72.71%),
    #21d4fd;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}